@import '../../global.scss';


.navbarBox {
  background-color: map-get($colors , lightPink);
  // border: 2px solid red;
  height: 100vh;
  width: 5vw;
  float: left;
  position: sticky;
  top: 0rem;

  .profileBox {
    // border: 2px solid blue;
    text-align: center;
    img {
      border: 1px solid blue;
      border-radius: 50%;
      height: 70px;
      width: 70px;
    }

  }

  .button1 {
    // border: 1px solid blue;
    height: 100px;
    width: 100px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .button2 {
    // border: 1px solid blue;
    height: 100px;
    width: 100px;
    margin-top: 57vh;
    margin-left: 10px;

  }
}

/// 2k screen
@media(max-width: $destop1440MinWidth) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 100vh;
    width: 7vw;
    float: left;
    position: sticky;
    top: 0;
  
    // .profileBox {
    //   // border: 2px solid blue;
    //   text-align: center;
    //   img {
    //     border: 1px solid blue;
    //     border-radius: 50%;
    //     height: 70px;
    //     width: 70px;
    //   }
  
    // }
  
    .button1 {
      // border: 1px solid blue;
      height: 70px;
      width: 70px;
      margin-top: 15px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 70px;
      width: 70px;
      margin-top: 61vh;
    }
  }
}

////  1024 Screen
@media(max-width: $destop1024MinWidth) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 100vh;
    width: 9vw;
    float: left;
    position: sticky;
    top: 0;
  
    // .profileBox {
    //   // border: 2px solid blue;
    //   text-align: center;
    //   img {
    //     border: 1px solid blue;
    //     border-radius: 50%;
    //     height: 70px;
    //     width: 70px;
    //   }
  
    // }
  
    .button1 {
      // border: 1px solid blue;
      height: 70px;
      width: 70px;
      margin-top: 15px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 70px;
      width: 70px;
      margin-top: 60.5vh;
    }
  }
}

////  iPad screen size
@media(max-width: 768px) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 99.9vh;
    width: 12vw;
    float: left;
    position: sticky;
    top: 0;
  
    // .profileBox {
    //   // border: 2px solid blue;
    //   text-align: center;
    //   img {
    //     border: 1px solid blue;
    //     border-radius: 50%;
    //     height: 70px;
    //     width: 70px;
    //   }
  
    // }
  
    // .button1 {
    //   // border: 1px solid blue;
    //   height: 70px;
    //   width: 70px;
    //   margin-top: 15px;
    // }
  
    .button2 {
      // border: 1px solid blue;
      height: 70px;
      width: 70px;
      margin-top: 59vh;
    }
  }
}

//// Galaxy Portrait
@media(max-width: $Moblie360MaxWidth) and (max-height: $Moblie640MaxHeight) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 100vh;
    width: 15vw !important;
    float: left;
    position: sticky;
    top: 0;
  
    .profileBox {
      font-size: 10px;
      // border: 2px solid blue;
      text-align: center;
      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }
  
    .button1 {
      // border: 1px solid blue;
      height: 45px;
      width: 45px;
      margin-top: 15px;
      margin-left: 3px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 45px;
      width: 45px;
      margin-top: 52.5vh !important;
      margin-left: 3px;

    }
  }
}

//// Galaxy Landscape
@media(max-width: $Moblie640MaxWidth) and (max-height: $Moblie360MaxHeight) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 99.9vh;
    width: 12vw;
    float: left;
    position: sticky;
    top: 0;
  
    .profileBox {
      // border: 2px solid blue;
      
      text-align: center;
      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }
    }
  
    .button1 {
      // border: 1px solid blue;
      height: 55px;
      width: 55px;
      margin-top: 15px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 55px;
      width: 55px;
      margin-top: 10vh;
    }
  }
}

////  pixel screen size
@media(max-width: $Moblie411MaxWidth)  {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 100vh;
    width: 15vw;
    float: left;
    position: sticky;
    top: 0;
  
    .profileBox {
      // border: 2px solid blue;
      text-align: center;
      font-size: 12px;

      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }
  
    .button1 {
      // border: 1px solid blue;
      height: 45px;
      width: 45px;
      margin-top: 15px;
      margin-left: 5px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 45px;
      width: 45px;
      margin-top: 63vh;
      margin-left: 5px;
    }
  }
}

////  Iphone 6/7/8 Plus Portrait
@media(min-width: $Moblie414MinWidth) and (max-height: $Moblie736MaxHeight) and (orientation: portrait) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 100vh;
    width: 12vw;
    float: left;
    position: sticky;
    top: 0;
    font-size: 10px;

    .profileBox {
      // border: 2px solid blue;
      text-align: center;
      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }

    .button1 {
      // border: 1px solid blue;
      height: 45px !important;
      width: 45px !important;
      margin-top: 15px;
      margin-left: 5px;
    }

    .button2 {
      // border: 1px solid blue;
      height: 45px !important;
      width: 45px !important;
      margin-left: 5px;
      margin-top: 59vh !important;
    }
  }
}

//// Iphone 6/7/8 Plus Landscape View
@media(min-width: $Moblie736MinWidth) and (max-height: $Moblie414MaxHeight) and (orientation: landscape) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 99.9vh;
    width: 12vw;
    float: left;
    position: sticky;
    top: 0;
  
    .profileBox {
      // border: 2px solid blue;
      text-align: center;
      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }
    }
  
    .button1 {
      // border: 1px solid blue;
      height: 55px;
      width: 55px;
      margin-top: 15px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 55px;
      width: 55px;
      margin-top: 10vh;
    }
  }
}

////  Iphone 6/7/8 Portrait
@media(min-width: $Moblie375MinWidth) and (max-height: $Moblie667MaxHeight) and (orientation: portrait) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 100vh;
    width: 12vw;
    float: left;
    position: sticky;
    top: 0;
  
    .profileBox {
      // border: 2px solid blue;
      text-align: center;    
      font-size: 10px;

      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }
  
    .button1 {
      // border: 1px solid blue;
      height: 35px !important;
      width: 35px !important;
      margin-top: 15px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 35px !important;
      width: 35px !important;
      margin-top: 61vh !important;
    }
  }
}

//// Iphone 6/7/8 Landscape View
@media(min-width: $Moblie667MinWidth) and (max-height: $Moblie375MaxHeight) and (orientation: landscape) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 99.9vh;
    width: 12vw;
    float: left;
    position: sticky;
    top: 0;
  
    .profileBox {
      // border: 2px solid blue;
      text-align: center;
      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        }
    }
  
    .button1 {
      // border: 1px solid blue;
      height: 55px;
      width: 55px;
      margin-top: 15px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 55px;
      width: 55px;
      margin-top: 7.5vh;
    }
  }
}

//// IphoneX landscape View
@media(min-width: $Moblie812MinWidth) and (max-height: $Moblie375MaxHeight) and (orientation: landscape) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 99.9vh;
    width: 9vw;
    float: left;
    position: sticky;
    top: 0;
  
    .profileBox {
      // border: 2px solid blue;
      text-align: center;
      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }
    }
  
    .button1 {
      // border: 1px solid blue;
      height: 45px;
      width: 45px;
      margin-top: 15px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 45px;
      width: 45px;
      margin-top: 12vh !important;
    }
  }
}

//// IphoneX Portrait
@media(min-width: $Moblie375MinWidth) and (max-height: $Moblie812MaxHeight) and (orientation: portrait) {
  .navbarBox {
    background-color: map-get($colors , lightPink);
    // border: 2px solid red;
    height: 100vh;
    width: 15vw;
    float: left;
    position: sticky;
    top: 0;
  
    .profileBox {
      // border: 2px solid blue;
      text-align: center;
      img {
        border: 1px solid blue;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }
  
    .button1 {
      // border: 1px solid blue;
      height: 45px;
      width: 45px;
      margin-top: 15px;
    }
  
    .button2 {
      // border: 1px solid blue;
      height: 45px;
      width: 45px;
      margin-top: 62vh;
    }
  }
}