@import '../../global.scss';


.dashboardbox {
  border: 1px solid white;
    // float: right;

  .innerdashboardbox {
    // border: 2px solid blue;
    margin-left: 40vh;
    margin-right: 40vh;
  }

  .dashboard_search_box {
    border: 1px solid black;
    margin-top: 1vw;
    padding: 1vw;
    box-shadow: 5px 5px #888888;

    input {
      // border: 1px solid black;
      // display: inline-block;
      width: 50vw;
    }
  }
}

.dashboardPostBox {
  border: 1px solid black;
  margin: 10px;
  box-shadow: 5px 5px #888888;
  height: 150px;

  .UserProfilePic {
    border: 1px solid blue;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    float: right;
  }

  .previewPostImage {
    border: 1px solid black;
    box-shadow: 5px 5px #888888;

    // border-radius: 50%;
    height: 150px;
    width: 150px;
    // float: left;
    margin-left: 5rem;
  }

  .titleP {
    // border: 2px solid black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;

    // height: 10vh;
    width: 25vw;
  }

  .usernameP {
    float: right;
  }
}

/// 2k screen
@media(max-width: $destop1440MinWidth) {
  .dashboardbox {
    border: 1px solid white;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 40vh;
      margin-right: 40vh;
    }
  
    .dashboard_search_box {
      border: 1px solid black;
      margin-top: 1vw;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 1px solid black;
        // display: inline-block;
        width: 3vw;
      }
    }
  }
  
  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
  
    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      // float: right;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      margin-left: 0px;
      margin-top: 0px;
    }
  
    .titleP {
      // border: 2px solid black;
      // margin: 0px;
      width: 15vw;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

////  1024 Screen
@media(max-width: $destop1024MinWidth) {
  .dashboardbox {
    // border: 2px solid blue;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 30vh;
      margin-right: 40vh;
    }
  
    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      margin-left: 1vw;
      width: 30rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        border: 1px solid black;
        // display: inline-block;
        width: 33vw;
      }
    }
  }
  
  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 30rem;
  
    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      // float: right;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      margin-left: 0px;
      margin-top: 0px;
      height: 140px;
      width: 140px;
    }
  
    .titleP {
      // border: 2px solid black;
      // margin: 0px;
      width: 8vw;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

////  iPad screen size
@media(max-width: 768px) {
  .dashboardbox {
    // border: 2px solid blue;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 15vh;
      margin-right: 40vh;
    }
  
    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      margin-left: 1vw;
      width: 30rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 1px solid black;
        // display: inline-block;
        width: 50vw;
      }
    }
  }
  
  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 30rem;
  
    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      // float: right;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      margin-left: 0px;
      margin-top: 0px;
    }
  
    .titleP {
      // border: 2px solid black;
      // margin: 0px;
      width: 20vw;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

//// Galaxy Portrait
@media(max-width: $Moblie360MaxWidth) and (max-height: $Moblie640MaxHeight) {
   .dashboardbox {
    // border: 2px solid blue;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 15vh;
      margin-right: 40vh;
    }
  
    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      margin-left: 1vw;
      width: 30rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 1px solid black;
        // display: inline-block;
        width: 33vw;
      }
    }
  }
  
  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 30rem;
  
    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      // float: left;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      // margin-left: 0px;
      // margin-top: 0px;
      border-radius: 0%;
      height: 22vh;
      width: 22vw;
      float: left;

    }
  
    .titleP {
      width: 10vw !important;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

////  pixel screen size
@media(max-width: $Moblie411MaxWidth)  {
  .dashboardbox {
    // border: 2px solid blue;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 10vh;
      margin-right: 40vh;
    }

    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      margin-left: 1vw;
      width: 15rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 1px solid black;
        // display: inline-block;
        width: 40vw;
      }
    }
  }

  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 15rem;
    font-size: 11px;

    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      // float: left;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      // margin-left: 0px;
      // margin-top: 0px;
      border-radius: 0%;
      height: 17vh;
      width: 17vw;
      float: left;
    }
  
    .titleP {
      width: 10vw !important;
      // font-size: 10px;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

////  Iphone 6/7/8 Plus Portrait
@media(min-width: $Moblie414MinWidth) and (max-height: $Moblie736MaxHeight) and (orientation: portrait) {
  .dashboardbox {
    // border: 2px solid blue;
      // float: right;
      font-size: 12px;

    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 10vh;
      margin-right: 40vh;
    }

    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      margin-left: 1vw;
      width: 15rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 1px solid black;
        // display: inline-block;
        width: 40vw;
      }
    }
  }

  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 15rem;
    font-size: 11px;

    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      // float: left;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      // margin-left: 0px;
      // margin-top: 0px;
      border-radius: 0%;
      height: 19vh;
      width: 19vw;
      float: left;
    }
  
    .titleP {
      width: 10vw !important;
      // font-size: 10px;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

//// Iphone 6/7/8 Plus Landscape View
@media(min-width: $Moblie736MinWidth) and (max-height: $Moblie414MaxHeight) and (orientation: landscape) {
  .dashboardbox {
    // border: 2px solid blue;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 15vw;
      margin-right: 40vh;
    }

    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      // margin-left: 10vw;
      width: 30rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 5px solid black !important;
        // display: inline-block;
        width: 53vw;
      }
    }
  }

  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 30rem;
    font-size: 11px;

    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      // float: left;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      // margin-left: 0px;
      // margin-top: 0px;
      border-radius: 0%;
      height: 34vh;
      width: 25vw;
      float: left;
    }
  
    .titleP {
      width: 10vw !important;
      // font-size: 10px;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

////  Iphone 6/7/8 Portrait
@media(min-width: $Moblie375MinWidth) and (max-height: $Moblie667MaxHeight) and (orientation: portrait) {
  .dashboardbox {
    // border: 2px solid blue;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 10vh;
      margin-right: 40vh;
    }

    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      margin-left: 1vw;
      width: 15rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 1px solid black;
        // display: inline-block;
        width: 40vw;
      }
    }
  }

  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 15rem;
    font-size: 11px;

    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      // float: left;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      // margin-left: 0px;
      // margin-top: 0px;
      border-radius: 0%;
      height: 20vh;
      width: 19vw;
      float: left;
    }
  
    .titleP {
      width: 10vw !important;
      // font-size: 10px;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

//// Iphone 6/7/8 Landscape View
@media(min-width: $Moblie667MinWidth) and (max-height: $Moblie375MaxHeight) and (orientation: landscape) {
  .dashboardbox {
    // border: 2px solid blue;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 15vw;
      margin-right: 40vh;
    }

    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      // margin-left: 10vw;
      width: 30rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 1px solid black;
        // display: inline-block;
        width: 55vw;
      }
    }
  }

  .dashboardPostBox {
    border: 1px solid black;
    // margin: 20px !important; 
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 30rem;
    font-size: 11px;

    .UserProfilePic {
      border: 1px solid blue;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      // float: left;
      // margin: 0px !important;
      // margin-right: 100px;
      // padding: 0px !important;
    }
  
    .previewPostImage {
      border: 1px solid black;
      box-shadow: 5px 5px #888888;
      // margin-left: 0px;
      // margin-top: 0px;
      border-radius: 0%;
      height: 34vh;
      width: 25vw;
      float: left;
    }
  
    .titleP {
      width: 10vw !important;
      // font-size: 10px;
    }

    // .usernameP {
    //   border: 2px solid black;
    // }
  }
}

//// IphoneX landscape View
@media(min-width: $Moblie812MinWidth) and (max-height: $Moblie375MaxHeight) and (orientation: landscape) {
  .dashboardbox {
    // border: 2px solid blue;
      // float: right;
  
    .innerdashboardbox {
      // border: 2px solid blue;
      margin-left: 15vw;
      margin-right: 40vh;
    }

    .dashboard_search_box {
      // border: 5px solid black;
      margin-top: 1vw;
      // margin-left: 10vw;
      width: 30rem;
      padding: 1vw;
      box-shadow: 5px 5px #888888;
  
      input {
        // border: 5px solid black !important;
        // display: inline-block;
        width: 45vw;
      }
    }
  }

  .dashboardPostBox {
    // border: 2px solid black;
    margin: 10px;
    box-shadow: 5px 5px #888888;
    height: 150px;
    width: 30rem;
  
    img {
      border: 1px solid blue;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    // float: right !important;
    }

    .titleP {
      // border: 2px solid black;
      display: inline-flex;
      // margin-top: 10px;
      // margin-left: 10px;
  
      height: 10vh;
      width: 27vw;
    }
  
    .usernameP {
      float: right;
    }
  }
}