@import '../../global.scss';

.authMainBox {
  height: 100vh;
  width: 100vw;
  background-color: map-get($colors , lightPink);
  border: 0.1px solid lightblue;

  .formBox {
    background-color: map-get($colors , lightOrange);
    // border: 3px solid red;
    box-shadow: 5px 10px #888888;
    height: 50vh;
    width: 30vw;
    margin-top: 15rem;
    margin-left: 55rem;
    padding-top: 10rem;
    padding-left: 17rem;
  }

  .signUpForm {
    background-color: map-get($colors , lightblue) !important;
  }

  button {
    border: 1px solid red;
    color: #888888;
    margin-top: 10px;
    margin-left: 4px;
    background-color: blue;
  }
}

//// 1920 * 1080P
@media(max-width: $destop1920MaxWidth) {
  .authMainBox {
    background-color: map-get($colors , lightPink);
  
    // background-color: red;
    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray;
      box-shadow: 5px 10px #888888;
      margin-left: 40rem;
      padding-top: 5rem;
      padding-left: 10rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

////  1280 * 720P
@media(max-width: $destop1280MaxWidth) {
  .authMainBox {
    background-color: map-get($colors , lightPink);
  
    // background-color: red;
    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray;
      box-shadow: 5px 10px #888888;
      height: 20rem;
      width: 30rem;
      margin-top: 8rem;
      margin-left: 25rem;
      padding-top: 3rem;
      padding-left: 6rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

////  iPad screen size
@media(max-width: 768px) {
  .authMainBox {
    background-color: map-get($colors , lightPink);
  
    // background-color: red;
    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray;
      box-shadow: 5px 10px #888888;
      height: 50vh;
      width: 50vw;
      margin-top: 12rem;
      margin-left: 12rem;
      padding-top: 2rem;
      padding-left: 4rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

//// Galaxy Landscape
@media(max-width: $Moblie640MaxWidth) and (max-height: $Moblie360MaxHeight) {
  .authMainBox {
    background-color: map-get($colors , lightPink);

    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray !important;
      box-shadow: 5px 10px #888888;
      height: 70vh;
      width: 70vw;
      margin-top: 3rem;
      margin-left: 6rem;
      padding-top: 0rem;
      padding-left: 8rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

////  pixel screen size
@media(max-width: $Moblie411MaxWidth)  {
  .authMainBox {
    background-color: map-get($colors , lightPink);

    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray !important;
      box-shadow: 5px 10px #888888;
      height: 70vh;
      width: 90vw;
      margin-top: 5rem !important;
      margin-left: 1rem !important;
      padding-top: 5rem !important;
      padding-left: 5rem !important;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

////  Iphone 6/7/8 Plus Portrait
@media(min-width: $Moblie414MinWidth) and (max-height: $Moblie736MaxHeight) and (orientation: portrait) {
  .authMainBox {
    background-color: map-get($colors , lightPink);

    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray !important;
      box-shadow: 5px 10px #888888;
      margin-top: 5rem !important;
      margin-left: 1rem;
      padding-top: 7rem !important;
      padding-left: 4rem !important;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

//// Iphone 6/7/8 Plus Landscape View
@media(min-width: $Moblie736MinWidth) and (max-height: $Moblie414MaxHeight) and (orientation: landscape) {
  .authMainBox {
    background-color: map-get($colors , lightPink);

    .formBox {
      background-color: map-get($colors , lightOrange);
      // border: 1px solid red;
      box-shadow: 5px 10px #888888;
      height: 70vh;
      width: 70vw;
      margin-top: 3rem;
      margin-left: 6rem;
      padding-top: 2rem;
      padding-left: 10rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}


////  Iphone 6/7/8 Portrait
@media(min-width: $Moblie375MinWidth) and (max-height: $Moblie667MaxHeight) and (orientation: portrait) {
  .authMainBox {
    background-color: map-get($colors , lightPink);
    // background-color: black !important;
    height: 76.6rem;
    width: 30.5rem;

    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray !important;
      box-shadow: 5px 10px #888888;
      margin-top: 5rem !important;
      margin-left: 1rem !important;
      padding-top: 5rem !important;
      padding-left: 5rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

//// Iphone 6/7/8 Landscape View
@media(min-width: $Moblie667MinWidth) and (max-height: $Moblie375MaxHeight) and (orientation: landscape) {
  .authMainBox {
    background-color: map-get($colors , lightPink);

    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray;
      box-shadow: 5px 10px #888888;
      height: 70vh;
      width: 70vw;
      margin-top: 3rem;
      margin-left: 6rem;
      padding-top: 0rem;
      padding-left: 8rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

//// IphoneX landscape View
@media(min-width: $Moblie812MinWidth) and (max-height: $Moblie375MaxHeight) and (orientation: landscape) {
  .authMainBox {
    background-color: map-get($colors , lightPink);

    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray;
      box-shadow: 5px 10px #888888;
      height: 70vh;
      width: 70vw;
      margin-top: 3rem;
      margin-left: 8rem;
      padding-top: 0rem;
      padding-left: 10rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}

//// IphoneX Portrait
@media(min-width: $Moblie375MinWidth) and (max-height: $Moblie812MaxHeight) and (orientation: portrait) {
  .authMainBox {
    background-color: map-get($colors , lightPink);

    .formBox {
      background-color: map-get($colors , lightOrange);
      // background-color: gray !important;
      box-shadow: 5px 10px #888888;
      height: 70vh;
      width: 90vw;
      margin-top: 5rem;
      margin-left: 1rem;
      padding-top: 10rem;
      padding-left: 5rem;
    }

    .signUpForm {
      background-color: map-get($colors , lightblue) !important;
    }
  }
}
