@import '../../global.scss';

.authMainBox {
  height: 100vh;
  width: 100vw;
  // width: 100%;
  background-color: map-get($colors , lightPink);

  .formBox {
    background-color: map-get($colors , lightOrange);
    border: 1px solid red;
    box-shadow: 5px 10px #888888;
    height: 50vh;
    width: 30vw;
    margin-top: 15vh;
    margin-left: 70vh;
    padding-top: 10vh;
    padding-left: 5vh;
  }
}